<!DOCTYPE html>
<html lang="en">
<%- include('../partials/theader'); %>
<head>
<meta charset="UTF-8">
<title><%= spinfo.title  %></title>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script  type="text/javascript" src="public/assets/js/minajax.js"></script>
<script  type="text/javascript" src="public/assets/js/myajax.js"></script>
<script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
<script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
<link rel="stylesheet" href="public/assets/css/mystyles.css"> 

<!--<style type="text/css" src="public/assets/css/mystyles.css"></style>-->
</head>
<body>
    <div id="divtop1" class="btcontainer">
      <div class="rmsdiv1">
        <table id="toptable1" class="btTable">
            <tr><label style="width:2.5%; text-align:center;"></label></tr>
            <tr><label id="billdatestx" class="rmslabel1">Bill Date</label></tr>
            <tr><input type="date" id="billdate" name="billdate" class="textinput" style="width:10%;" 
                placeholder="dd/mm/yy" min="2020-01-01" value="2020-01-01"></tr>
            <tr><label style="width:3%; text-align:center;"></label></tr>
            <tr><input type="text" id="esti" name="esti" class="estivalidate" placeholder="E" maxlength="1"></tr>
            <tr><label style="width:18%; text-align:center;"></label></tr>
            <tr><label id="stxt" class="rmslabel1">Write here</label></tr>
            <tr><input type="text" id="supsearch" name="typeahead" class="typeahead tt-query" 
            style="text-transform:uppercase" placeholder="<%= spinfo.cs  %> Name"></tr>
            
        </table>
      </div>
    </div>  

    <div id="divtop2" class="btcontainer">
      <div class="rmsdiv1">
        <table id="toptable2" class="btTable">
            <tr><label id="invoicestx" class="rmslabel1">Invoice Date</label></tr>
            <tr><input type="date" id="invoicedate" name="invoicedate"  class="textinput" style="width:10%;" 
                placeholder="dd/mm/yy" min="2020-01-01"></tr>
            <tr><label style="width:3%; text-align:center;"></label></tr>
            <tr><label id="stxt" class="rmslabel1">Invoice.No:</label></tr>
            <tr><input type="test" id="billno" name="billno" class="textinput" style="width:8%;" maxlength="10"></tr>
            <tr><label style="width:3%; text-align:center;"></label></tr>
            <tr><label id="add1" class="rmslabel1">1</label></tr>    
        </table>
      </div>
    </div>  

    <div id="divtop3" class="btcontainer">
      <div class="rmsdiv1">
        <table id="toptable3" class="btTable">
            <tr><label id="cscrstx" class="rmslabel1">Cash/Credit</label></tr>
            <tr><select id="cscr" name="cscr"><option value="CASH">CASH</option>
                <option value="CREDIT">CREDIT</option>
                <option value="CHLLAN">CHALLAN</option>
            </select></tr>
            <tr><label style="width:1%; text-align:center;"></label></tr>
            <tr><label id="stxt" class="rmslabel1" style="font-size: 70%;">D.Discount:</label></tr>
            <tr><input type="text" id="ddisc" name="ddisc" class="rmsgriddiscount" style="width:3%;" maxlength="5"></tr>
            <tr><label style="width:13%; text-align:center;"></label></tr>
            <tr><label id="add2" class="rmslabel1">22</label></tr>
            <tr><label style="width:1%; text-align:center;"></label></tr>
            <tr><label id="regn" class="rmslabel1"></label></tr>
        </table>
      </div>
    </div>  

    <div id="divtop4" class="btcontainer">
      <div class="rmsdiv1">
        <table id="toptable4" class="btTable">
            <tr><label id="statusinfo" class="rmslabel1" style="width:30%;"></label></tr>
            <tr><label style="width:1%; text-align:center;"></label></tr>
            <tr><label  class="rmslabel1"></label></tr>
            <tr><label style="width:2%; text-align:center;"></label></tr>
            <tr><label class="rmslabel1">ccc</label></tr>
            <tr><label style="width:10%; text-align:left;"></label></tr>
            <tr><label id="add3" class="rmslabel1"></label></tr>
            <tr><label style="width:15%; text-align:left;"></label></tr>
            <tr><label id="gstn" class="rmslabel1"></label></tr>
        </table>
      </div>
    </div>  

    <div class="rmsgridhead">
        <label class="gridpadd0"></label>
        <label class="gridpadd1">S.N</label>
        <label class="gridpadditem"> Item Name </label>
        <label class="gridpacklabel">Pack</label>
        <label class="gridqtylabel">Qty</label>
        <label class="gridbonuslabel">Bonus</label>
        <label class="gridratelabel">Rate</label>
        <label class="griddislabel">Dis.</label>
        <label class="gridamtlabel">Amount</label>
        <label class="gridtaxlabel">GST</label>
        <label class="gridamtlabel">NetRate</label>
    </div>

    <div id="itembox" class="scroll">
        <button id="incbtn" onclick="appendRow()">+</button>
        <label id="sno" class="rmslabelwidth0">0</label>
        <input type="search" id="0_itemsearch" name="typeahead" class="typeahead tt-query"  
        style="text-transform:uppercase"
        autocomplete="on" spellcheck="false" placeholder="Items Name" onfocus="onItemSearchFocus()">
        <label id="0_pack" class="gridpacklabel0" ></label>
        <input type="text" id="0_qty" name="qty" class="rmsqtyvalidate" placeholder="Qty"  
        onfocus="getFocusedID()" onkeyup="onQtyCalculation()">
        <input type="text" id="0_bonus" name="bonus" class="bonusvalidate" placeholder="0"  
        onfocus="getFocusedID()" onkeyup="onQtyCalculation()">
        <input type="text" id="0_rate" name="rate" class="rmsgridfloatval" placeholder="rate"  
        onfocus="getFocusedID()" onkeyup="onQtyCalculation()">
        <input id="0_dis" class="rmsgriddiscount" placeholder="0.00"  
        onfocus="getFocusedID()" onkeyup="onQtyCalculation()">
        <input readonly="true" type="text" id="0_amt" class="gridamtlabel1" placeholder="0.00"  >
        <label id="0_tax" class="gridtaxnode" >0.00</label>
        <label id="0_netrate" class="gridnetnode" >0.00</label>
    </div>
 
  <div id="divbtm1" class="btcontainer">
    <div id="bt1part1">
      <table id="bttable1" class="btTable">
        <tr><input type="text" id="cmnt" name="cmnt" class="billcomment" placeholder="bill comment"></tr>
        <tr><label id='prlo' class="textdpprlo" style="width:6%; text-align:center;">0.0</label></tr>
        <tr><label id='subtotstx' class="btmstaticsumdp">SubTotal: </label></tr>
        <tr><label id='tsubtot' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='addtaxstx' class="btmstaticsumdp">GST.Amt: </label></tr>
        <tr><label id='ttaxamt' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='disamtstx' class="btmstaticsumdp">Disc.Amt: </label></tr>
        <tr><label id='tdisamt' class="btmtextsumdp">0.0</label></tr>
      </table>
    </div>
  </div>
  
  <div id="divbtm2" class="btcontainer">
    <div id="bt2part1">
      <table id="bttable2" class="btTable">
        <tr><button type="button" id="save" class="btmbt" disabled onclick="onSave()" style="width:10%;" >Save</button></tr>
        <tr><button type="button" id="update" class="btmbt" disabled onclick="onUpdate()">Update</button></tr>
        <tr><button type="button" id="delete" class="btmbt" disabled onclick="onDelete()">Delete</button></tr>
        <tr><button type="button" id="close" class="btmbt" onclick="onClose()" style="width:8%;">Close</button></tr>
        <tr><label style="width:4%; text-align:center;"></label></tr>
        <tr><label id='tamtstx' class="btmstaticsumdp">Amt.Total: </label></tr>
        <tr><label id='tamt' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='cgststx' class="btmstaticsumdp">CGST.Amt: </label></tr>
        <tr><label id='cgst' class="btmtextsumdp">0.0</label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label id='sgststx' class="btmstaticsumdp">SGST.Amt: </label></tr>
        <tr><label id='sgst' class="btmtextsumdp">0.0</label></tr>
      </table>
    </div>
  </div>
  
  <div id="divbtm3" class="btcontainer">
    <div id="bt3part1">
      <table id="bttable3" class="btTable">
        <tr><button type="button" id="exportpdf" class="btmbt" style="width:10%;" onclick="onPDF()">PDF Export</button></tr>
        <tr><button type="button" id="exportxls" class="btmbt" style="width:11%;" onclick="onXLS()">Excel Export</button></tr>
        <tr><button type="button" id="reset" class="btmbt" onclick="onReset()">Reset</button></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label style="width:10%; text-align:left;">Sample1 widg </label></tr>
        <tr><label style="width:6%; text-align:left;"></label></tr>
        <tr><label id='roundoffstx' class="btmstaticsumdp">Round-Off: </label></tr>
        <tr><label id='roundoff' class="btmtextsumdp">0</label></tr>
        <tr><label style="width:6%; text-align:left;"></label></tr>
        <tr><input type="text" id="acname1" name="acname1" class="acname" style="width:15%;" placeholder="Account Name"></tr>
        <tr><input type="text" id="acval1" name="acval1" class="acname" style="width:6%;" placeholder="Value"></tr>
      </table>
    </div>
  </div>
  
  <div id="divbtm4" class="btcontainer">
    <div id="bt4part1">
      <table id="bttable4" class="btTable">
        <tr><label style="width:10%; text-align:left;">Sample2_1 widg </label></tr>
        <tr><label style="width:6%; text-align:center;"></label></tr>
        <tr><label style="width:10%; text-align:left;">Sample2_2 widg </label></tr>
        <tr><label style="width:30%; text-align:left;"></label></tr>
        <tr><label id='gtotstx' class="btmstaticsumdp" style="color:blue;font-size:105%;">Bill Total: </label></tr>
        <tr><label id='gtot' class="btmtextsumdp" style="font-size:125%;text-align:center;background-color:yellow;">0.0</label></tr>
      </table>
    </div>
   
  </div>
  <div>
    <footer class="mydocfooter">
  
     
      <div class="footerblock-1">
        <h7>About Us</h7>
        <li> <a href="#"  > Medi-Trade  </a></li>
        <li> <a href="#" > Tech-Med </a></li>
        <li><a href="#"> GST & SALES & PURCHASE </a></li>
      </div>

      <div class="footerblock-2">
        <h7>Informations</h7>
        <li> <a href="https://www.linkedin.com/in/abhishek-gupta-a1a44a203/"  target="_blank"> Linkedin <i class="fa-brands fa-linkedin fa-lg"></i> </a></li>
        <li> <a href="https://github.com/cosmos-dx/"  target="_blank"> GitHub <i class="fa-brands fa-github-alt fa-lg"></i> </a></li>
        <li><a href="https://auth.geeksforgeeks.org/user/abhishekgupta1802/"  target="_blank">GeeksForGeeks<i class="fa-light fa-code-simple fa-lg"></i></a></li>
      </div>

      <div class="footerblock-3">
        <h7>Contact</h7>
        <li> <a href="#"  > HelpLine </a></li>
        <li> <a href="#" > YouTube  </a></li>
        <li><a href="#" > Twitter </a></li>
      </div>


      <p> &copy;MEDI-TRADE - <span> abhishekgupta0118@gmail.com </span></p>
    </footer> 
 </div>

</body>
<script type="text/javascript">


$(document).ready(function(){
    var today = rmstoday();
    document.getElementById("billdate").value = today;
    document.getElementById("invoicedate").value = today;
});


//$('td[name="tcol1"]')   // Matches exactly 'tcol1'
//$('td[name^="tcol"]' )  // Matches those that begin with 'tcol'
//$('td[name$="tcol"]' )  // Matches those that end with 'tcol'
//$('td[name*="tcol"]' )  // Matches those that contain 'tcol'

var cshost = "http://localhost:3000/partysearchenter"
var itemhost = "http://localhost:3000/itemsearchenter"
var recdic={'pan':{'db':[],'bd':{},},'grid':{},'ac':{},'static':{},'edit':false, 'other':{}}
var idcount = 0;

function rmstoday(){return new Date().toISOString().substring(0, 10);}
function onSave(evt){
    document.getElementById("statusinfo").innerHTML="Save Button Pressed";}
function onUpdate(evt){
    document.getElementById("statusinfo").innerHTML="UPDATE Button Pressed";}
function onDelete(evt){
    document.getElementById("statusinfo").innerHTML="DELETE Button Pressed";}
function onReset(evt){
    document.getElementById("statusinfo").innerHTML="RESET Button Pressed";}
function onClose(){
    document.getElementById("statusinfo").innerHTML="close btn";}
    
function onPDF(evt){
    document.getElementById("statusinfo").innerHTML="PDF Export Button Pressed";}
function onXLS(evt){
    document.getElementById("statusinfo").innerHTML="Excell Export Button Pressed";}

function onItemSearchFocus(evt){idcount = document.activeElement.id.split('_')[0]}

function getFocusedID(evt){
    idcount = document.activeElement.id.split('_')[0]
    document.getElementById("statusinfo").innerHTML = 'Calculation on Qty _  : '+idcount;
    }
function getAmount(qty, rate, bbv=true, b1=1, b2=0){
    var amt = 0;

    if (bbv){amt = qty*rate}
    else{amt = ((rate*b1)/(b1+b2))*qty}    // net given like 10+2
    return amt    
    }
function getDiscAmt(amt, dis){
    if (Number.isNaN(dis)){dis = 0;}
   
    var discountamount = ((amt*(100-dis))/100.0);
    return [amt-discountamount, discountamount];}

// [1, 2, 3, 4].reduce((a, b) => a + b, 0) 
// default 0 required for first number of array; otherwise raise TypeError

function getTaxAmt(amt, tax, discamt){
    var amt_discamt = amt-discamt;
    var amtaftertax = (amt_discamt*(100+tax)/100.0);
    var taxamt = amtaftertax-amt_discamt
    return [taxamt, amtaftertax] ; }
 //return ((amt-discamt)*(100+tax)/100.0)-(amt-discamt) ; }
//function amtAfterTax(amt, tax){return (amt*(100+tax)/100.0) ; } // OR NetAmt

function getBonus(bonus){
    var bbool = false; // true when bonus in Integer value; false when bonus in netvalue format like 10+2;
    var b = bonus.split("+").map(Number);
    var intbonus = 0
    var b1 = b[0]
    var b2 = b[1]
    
    if (Number.isNaN(b1)){
        b1 = 1;
        intbonus = b[0]; 
        bbool = false; }
    if (b1 === 0) {b1 = 1;
        intbonus = 0;
        bbool = true; }
    if (b2 === undefined) {b2 = 0;
        intbonus = parseInt(b[0]);
        bbool = true; }
    if (isNumeric(b[0])){
        bbool = true;
        intbonus=parseInt(b[0]);
        b1 = 1;
        b2 = 0;}    
    
    return [bbool, intbonus, b1, b2]; }

function isNumeric(str) {
  if (typeof str != "string") return false // we only process strings!  
  return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
         !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
}
function getQty(qty, bonus){
    var b = getBonus(bonus);
    var b1 = b[0];
    var tqty = qty+b1;
    return tqty; }


function onQtyCalculation(evt){
    var rate =  parseFloat($('#'+idcount+'_rate').val());
    var qty = parseInt($('#'+idcount+'_qty').val()); //$('#'+idcount+'_qty').val(); 
    var tax = parseFloat($('#'+idcount+'_tax').html());
    var dis = parseFloat($('#'+idcount+'_dis').val());
    var rawbonus = $('#'+idcount+'_bonus').val();
    var bonuscheck = getBonus(rawbonus) 
    var bbool = bonuscheck[0];
    var bonus= bonuscheck[1];
    var b1 = bonuscheck[2];
    var b2 = bonuscheck[3];
    var tqty = qty+bonus;
     
    var amt = getAmount(qty, rate, bbool, b1, b2) //never add total or qty+bonus in getAmount;

    if (Number.isNaN(amt)){amt = 0}
    else{amt = amt}

    var disc_ = getDiscAmt(amt, dis); //disc_[0] << is discaount value; disc_[1] << is amount after discount
    
    var disamt = disc_[1];

    var tax_ = getTaxAmt(amt, tax, disc_[0]);
    var netrate = tax_[1]
    var amttot = disc_[1]
    var csgst = tax_[0]/2
    //var netrate = 
    document.getElementById("tsubtot").innerHTML= amt;
    document.getElementById("tdisamt").innerHTML= disc_[0].toFixed(2);
    document.getElementById("ttaxamt").innerHTML= tax_[0].toFixed(2);
    document.getElementById("cgst").innerHTML=csgst.toFixed(2);
    document.getElementById("sgst").innerHTML=csgst.toFixed(2);
    document.getElementById("tamt").innerHTML=amttot.toFixed(2);
    document.getElementById("gtot").innerHTML=netrate.toFixed(2);
    $('#'+idcount+'_amt').val(amttot.toFixed(2));
    $('#'+idcount+'_netrate').html(netrate.toFixed(2));   
    }

function onItemChange(e){
    var keyc = e.keyCode || e.which;
    var activeid = document.activeElement.id;
    var hasid = '#'+activeid;
    var searchtxt = document.getElementById(activeid).value ;
    document.getElementById('statusinfo').innerHTML = hasid+keyc + searchtxt;
    $(idcount+'_pack').html('');
    searchTypeAhead(hasid,'products','POST', itemhost+"?key=%QUERY", 4);
    
    if (keyc == 13){propostAjax('products',searchtxt, itemhost, 'POST', 'onItemChanged Hit Enter', keyc,[]);}
    document.getElementById(activeid).focus();
}
    
$('#0_itemsearch').on('keydown', function(e) {
    var keyc = e.keyCode || e.which;
    var searchtxt = this.value; 
    if (keyc == 13){propostAjax('products',searchtxt, itemhost, 'POST', '0_itemsearch Hit Enter ', keyc,[]);} ;
    });


$('#supsearch').on('keydown', function(e) {
    var keyc = e.keyCode || e.which;
    var searchtxt = this.value; 
    $("#statusinfo").html('post');
    $("#add1").html('');
    $("#add2").html('');
    $("#add3").html('');
    if (keyc == 13){ 
        suppostAjax(name, searchtxt, cshost, 'POST', 'CS Search Enter Hit key', keyc, 
            ['#add1','#add2','#add3','#supsearch',idcount+'_itemsearch',]); };
    });


searchTypeAhead('#supsearch','suppliers','GET', cshost+"?key=%QUERY", 4)
searchTypeAhead('#0_itemsearch','products','POST', itemhost+"?key=%QUERY", 4)

function searchTypeAhead(s, n, m, r, l){$(s).typeahead({name:n, method:m, remote:r, limit:l });} ;

function suppostAjax(name, searchtxt, seturl, gptype, idf, keyc, setidlist){
    var dbrows = [];
    $.ajax({
        url: seturl,
        type: gptype,
        data: {name:name,searchtxt:searchtxt, idf:idf, keyc:keyc},
        dataType: 'json',
        success: function(result) {
            recdic['pan']['db'] = result.dbrows[0]; 
            $('.tt-dropdown-menu').css('display', 'none');
            $('#add1').html(result.dbrows[0].add1);
            $('#add2').html(result.dbrows[0].add2);
            $('#add3').html(result.dbrows[0].add3);
            $('#gstn').html(result.dbrows[0].gstn);
            $('#regn').html(result.dbrows[0].regn);
            document.getElementById('#0_itemsearch').focus();
            $('#0_itemsearch').val(result.dbrows[0].name);
            $('#statusinfo').html('this is '+recdic['pan']['db'].name+' Selection');
        }
        });
    
    }

function propostAjax(name, searchtxt, seturl, gptype, idf, keyc, setidlist){
    $.ajax({
        url: seturl,
        type: gptype,
        data: {name:name,searchtxt:searchtxt, idf:idf, keyc:keyc},
        dataType: 'json',
        success: function(result) {
            $('.tt-dropdown-menu').css('display', 'none');
            $('#'+idcount+'_pack').html(result.dbrows[0].pack);
            $('#'+idcount+'_rate').val(result.dbrows[0].srate);
            $('#'+idcount+'_tax').html(result.dbrows[0].tax);
            
            document.getElementById(idcount+'_qty').focus();
            $('#'+idcount+'_itemsearch').val(result.dbrows[0].name);
        }
        });
    $("#statusinfo").html('this is '+idf+' Selection');
    }

$('.typeahead').on('typeahead:selected', function(evt, item, name) {
    // item has value ; item.value
     
    if (name=='suppliers'){
        var searchtxt = this.value;
        suppostAjax(name, searchtxt, cshost, 'POST', 'line 363', 0, 
            ['#add1','#add2','#add3','#supsearch',idcount+'_itemsearch',]);
        }
    if (name=='products'){
        var searchtxt = this.value;
        propostAjax(name, searchtxt, itemhost, 'POST', 'Mouce Click On 1st Items Row', 0,
            ['#'+idcount+'_pack','#'+idcount+'_pack','#'+idcount+'_pack',
            '#'+idcount+'_itemsearch',idcount+'_qty']);
        }
    });

    
</script>
<!-- rmsinputvalidate.js is wrapper function this will work after page loaded completely   -->

<script  type="text/javascript" src="public/assets/js/rmsinputvalidate.js"></script>
</html>
