<!DOCTYPE html>
<?php 
//starting the session
session_start();

?>
<html lang="en">
<head>
    <style type="text/css">
     .inputf {
      height:35px; 
      min-width: 370px;
      border-color: black;
      width:auto;
    }
    
    .divided {
      display: flex;
      align-items: center;
    }

    .divider {
      flex-grow: 1;
      border-bottom: 1px solid black;
      margin: 5px
    }

    .ulabel {font-size:1em;outline: medium none;min-width:120px; text-align: right;}

    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .buttonhv {
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }
    .buttonhv:hover {
      background-color: #555555;
      color: white;
    }

    </style>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap -->
    
    <script  type="text/javascript" src="public/assets/js/minajax.js"></script>
    <script  type="text/javascript" src="public/assets/js/rmsheader.js"></script>
    <link rel="stylesheet" href="public/assets/css/bootstrap.css"> 
    <link rel="stylesheet" href="public/assets/css/mystyles.css"> 
    <title>User-Settings</title>
</head>
<body>

<div class="container-fluid" >
  <form method="POST" action="/backtormshome">
    <div class="page-wrapper">
        
          <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" >
            <button type="submit" id="rmshome" class="button buttonhv" name="name" value="rmshome">RMS-Home-Main</button> 
            </span>
            <h4 style="color:blue"; > &nbsp; <%= spinfo.htmlheaderdp %></h4>
            <span class="navbar-brand mb-0 h1" >
            <button type="submit" id="rmslogout" class="button buttonhv" name="name" value="rmslogout">Log-Out</button> 
            </span>
          </nav>
        
    </div>
    
    <div><label class="blink_me info" id="statusinfo"><%= error %></label></div>
    <div class="bg-light form-group">
      <!-- <label type="text" id="_id" name="_id" style="display:none"><%= settingdata._id %></label> -->
      <label style="color:blue;font-size: 1.5em;" class="divided">
        <span>Owner Required Info</span><span class="divider"></span></label>
      <div style="display:inline-flex">
      <label class="ulabel" id="gstn_l">GST Number :</label>
      <input type="text" name="gstn" id="gstn" class="form-control" autocomplete="off" 
       style="text-transform:uppercase;" onkeypress="ValidateGstn(event,'statusinfo')"  maxlength="15" />
      <label style="width:130px;"></label>
      <label class="ulabel" id="regn_l">Registration No:</label>
      <input type="text" name="regn" id="regn" class="form-control" autocomplete="off" 
       style="text-transform:uppercase;"/>
      <label class="ulabel" id="email_l">email:</label>
      <input type="text" name="email" id="email" class="form-control" autocomplete="off" 
      required="required" style="text-transform:lowercase;"/>
      </div></div>

    <div class="bg-light form-group">
      <label style="color:blue;font-size: 1.5em;" class="divided">
        <span>Bill Series Options</span><span class="divider"></span></label>
      <div style="display:inline-flex">
      <label class="ulabel" id="billmain_l">Main Sales : </label>
      <input type="text" name="billmain" id="billmain" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="2"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[A-Z]/i.test(event.key)" />
      <label style="width:130px;"></label>
      <label class="ulabel" id="billesti_l">Estimate Sales :</label>
      <input type="text" name="billesti" id="billesti" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="2"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[A-Z]/i.test(event.key)" />
      <label class="ulabel" id="billchallan_l">Challan :</label>
      <input type="text" name="billchallan" id="billchallan" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="2"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[A-Z]/i.test(event.key)" />
      <label class="ulabel" id="billsaleorder_l">Order Sales:</label>
      <input type="text" name="billsaleorder" id="billsaleorder" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="2"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[A-Z]/i.test(event.key)" />
      </div></div>
    <div class="bg-light form-group"><div style="display:inline-flex">
      <label class="ulabel" id="billpurchaseorder_l">Purchase Order:</label>
      <input type="text" name="billpurchaseorder" id="billpurchaseorder" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="2"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[A-Z]/i.test(event.key)" />
      <label style="width:130px;"></label>
      <label class="ulabel" id="receipt_l">Receipt:</label>
      <input type="text" name="billreceipt" id="billreceipt" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="2"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[A-Z]/i.test(event.key)" />
      </div></div>

    <div class="bg-light form-group">
      <label style="color:blue;font-size: 1.5em;" class="divided">
        <span>Details Display On Bill PrintOuts</span><span class="divider"></span></label>
      <div style="display:inline-flex">
      <label class="ulabel" id="info_l">Disclamimer :</label>
      <input type="text" name="info" id="info" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;"/>
      <label style="width:130px;"></label>
      <label class="ulabel" id="phone_l">Contact No :</label>
      <input type="text" name="phone" id="phone" class="form-control" autocomplete="off" 
      required="required" style="text-transform:uppercase;" maxlength="10"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[0-9]/i.test(event.key)" />
      <label class="ulabel" id="phone1_l">Contact No(Alt):</label>
      <input type="text" name="phone1" id="phone1" class="form-control" autocomplete="off" 
       style="text-transform:uppercase;"  maxlength="10"
       onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
       onkeypress="return /[0-9]/i.test(event.key)" />
      <label class="ulabel" id="tpname_l">Transporter :</label>
      <input type="text" name="tpname" id="tpname" class="form-control" autocomplete="off" 
        style="text-transform:uppercase;"/>
      </div></div>
      
    <div class="bg-light form-group">
      <label style="color:blue;font-size: 1.5em;" class="divided">
        <span>Owner First Bank Details</span><label class="blink_me info" id="statusinfo1"></label><span class="divider"></span></label>
      <div style="display:inline-flex">
      <label class="ulabel" id="bankname1_l">Bank Name </label>
      <input type="text" name="bankname1" id="bankname1" class="form-control" autocomplete="off" 
        style="text-transform:uppercase;"/>
      <label style="width:130px;"></label>
      <label class="ulabel" id="bankadd1_l">Bank Address :</label>
      <input type="text" name="bankadd1" id="bankadd1" class="form-control" autocomplete="off" 
        style="text-transform:uppercase;"/>
      <label class="ulabel" id="bankifsc1_l">IFSCode :</label>
      <input type="text" name="bankifsc1" id="bankifsc1" class="form-control" autocomplete="off" maxlength="2"
        style="text-transform:uppercase;"/>
      <label class="ulabel" id="bankupid1_l">UPI ID:</label>
      <input type="text" name="bankupid1" id="bankupid1" class="form-control" autocomplete="off" 
        onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
        onkeyup="chkupid(event,'statusinfo1')" />

      </div></div>
    <div class="bg-light form-group"><div style="display:inline-flex">
      <label class="ulabel" id="bankac1_l">Account No:</label>
      <input type="text" name="bankac1" id="bankac1" class="form-control" autocomplete="off" maxlength="20"
        style="text-transform:uppercase;"/>
      </div></div>

    <div class="bg-light form-group">
      <label style="color:blue;font-size: 1.5em;" class="divided">
        <span>Owner Second Bank Details</span><label class="blink_me info" id="statusinfo2"></label><span class="divider"></span></label>
      <div style="display:inline-flex">
      <label class="ulabel" id="bankname2_l">Bank Name </label>
      <input type="text" name="bankname2" id="bankname2" class="form-control" autocomplete="off" 
        style="text-transform:uppercase;"/>
      <label style="width:130px;"></label>
      <label class="ulabel" id="bankadd2_l">Bank Address :</label>
      <input type="text" name="bankadd2" id="bankadd2" class="form-control" autocomplete="off" 
        style="text-transform:uppercase;"/>
      <label class="ulabel" id="bankifsc2_l">IFSCode :</label>
      <input type="text" name="bankifsc2" id="bankifsc2" class="form-control" autocomplete="off" maxlength="11"
        style="text-transform:uppercase;"/>
      <label class="ulabel" id="bankupid2_l">UPI ID:</label>
      <input type="text" name="bankupid2" id="bankupid2" class="form-control" autocomplete="off" 
        onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
        onkeyup="chkupid(event,'statusinfo2')" />
      </div></div>
    <div class="bg-light form-group"><div style="display:inline-flex">
      <label class="ulabel" id="bankac2_l">Account No:</label>
      <input type="text" name="bankac2" id="bankac2" class="form-control" autocomplete="off" maxlength="20"
        style="text-transform:uppercase;"/>
      </div></div>
    
    <div class="bg-light form-group">
      <label style="color:blue;font-size: 1.5em;" class="divided">
        <span>Bill PrintOuts Sizes And Batch List Show Option</span><span class="divider"></span></label>
      <div style="display:inline-flex">
      <label class="ulabel" id="printsettings_l">Page Size :</label>
      <label style="width:100px;"></label>
      <select id="printsettings" name="printsettings" style="width: 100px;"><option value=true >A4</option>
                <option value=false>A6</option>
                <option value=false>A5</option></select>
      
      <label style="width:100px;"></label>
      <label class="ulabel" id="displaysettings_l">Batch List Show</label>
      <select id="displaysettings" name="displaysettings" style="width: 100px;"><option value=false >HIDE</option>
                <option value=true>SHOW</option></select>

      </div></div>

   <span class="navbar-brand mb-0 h1" >
      <button type="submit" id="save" name="name" class="button buttonhv" value="usersettingsave">SAVE DETAILS </button> 
      </span>

  </form>

</div>
<div>
  <footer class="mydocfooter">

   
    <div class="footerblock-1">
      <h7>About Us</h7>
      <li> <a href="#"  > Medi-Trade  </a></li>
      <li> <a href="#" > Tech-Med </a></li>
      <li><a href="#"> GST & SALES & PURCHASE </a></li>
    </div>

    <div class="footerblock-2">
      <h7>Informations</h7>
      <li> <a href="https://www.linkedin.com/in/abhishek-gupta-a1a44a203/"  target="_blank"> Linkedin <i class="fa-brands fa-linkedin fa-lg"></i> </a></li>
      <li> <a href="https://github.com/cosmos-dx/"  target="_blank"> GitHub <i class="fa-brands fa-github-alt fa-lg"></i> </a></li>
      <li><a href="https://auth.geeksforgeeks.org/user/abhishekgupta1802/"  target="_blank">GeeksForGeeks<i class="fa-light fa-code-simple fa-lg"></i></a></li>
    </div>

    <div class="footerblock-3">
      <h7>Contact</h7>
      <li> <a href="#"  > HelpLine </a></li>
      <li> <a href="#" > YouTube  </a></li>
      <li><a href="#" > Twitter </a></li>
    </div>


    <p> &copy;MEDI-TRADE - <span> abhishekgupta0118@gmail.com </span></p>
  </footer> 
</div>

    
</body>
<script type="text/javascript">
  
  var dvid = 1   // device identifier [dvid = 1 = LAPTOP/DESKTOP] [dvid = 2 = MOBILE DEVICE] 
  var usetdata = JSON.parse(jsonformater("<%=  JSON.stringify(settingdata)  %>")); 
  var posdict = POSDICT();

  $(document).ready(function(){
    document.getElementById("gstn").value = usetdata["ownervar"]["gstn"];
    document.getElementById("regn").value = usetdata["ownervar"]["regn"];
    document.getElementById("email").value = usetdata["ownervar"]["email"];
    document.getElementById("info").value = usetdata["ownervar"]["info"];
    document.getElementById("phone").value = usetdata["ownervar"]["phone"];
    document.getElementById("phone1").value = usetdata["ownervar"]["phone1"];
    document.getElementById("tpname").value = usetdata["ownervar"]["tpname"];

    document.getElementById("billmain").value = usetdata["bill"]["main"];
    document.getElementById("billesti").value = usetdata["bill"]["esti"];
    document.getElementById("billchallan").value = usetdata["bill"]["challan"];
    document.getElementById("billsaleorder").value = usetdata["bill"]["saleorder"];
    document.getElementById("billpurchaseorder").value=usetdata["bill"]["purchaseorder"];
    document.getElementById("billreceipt").value = usetdata["bill"]["receipt"];


    document.getElementById("bankname1").value = usetdata["ownervar"]["bank1"]["name"];
    document.getElementById("bankadd1").value = usetdata["ownervar"]["bank1"]["add"];
    document.getElementById("bankifsc1").value = usetdata["ownervar"]["bank1"]["ifsc"];
    document.getElementById("bankupid1").value = usetdata["ownervar"]["bank1"]["upid"];
    document.getElementById("bankac1").value = usetdata["ownervar"]["bank1"]["ac"];

    document.getElementById("bankname2").value = usetdata["ownervar"]["bank2"]["name"];
    document.getElementById("bankadd2").value = usetdata["ownervar"]["bank2"]["add"];
    document.getElementById("bankifsc2").value = usetdata["ownervar"]["bank2"]["ifsc"];
    document.getElementById("bankupid2").value = usetdata["ownervar"]["bank2"]["upid"];
    document.getElementById("bankac2").value = usetdata["ownervar"]["bank2"]["ac"];

    document.getElementById("printsettings").value = usetdata["printsettings"]["A4"];
    document.getElementById("displaysettings").value = usetdata["displaysettings"]["batchlist"];

    
  })

  function ValidateGstn(evt, dplabel){
    var rtext = GstinChker(evt.target.value);
    document.getElementById(dplabel).innerHTML = rtext;
    //document.getElementById(getid+'info').style.color='red';
  }

  function IsUpidValid(upid){
    let regex = new RegExp(/^[a-zA-Z0-9.\-_]{2,256}@[a-zA-Z]{2,64}/); 
    if (upid == null) {
        return "false";
    }
    if (regex.test(upid) == true) {
      return "true";
    }
    else {
      return "false";
    }
  }
  function chkupid(evt, dplabel) {
    var upid = evt.target.value;
    if (upid===""){
      document.getElementById(dplabel).innerHTML = "";
      return ;
    }
    if (IsUpidValid(upid)==="false"){
      document.getElementById(dplabel).innerHTML = "Wrong Upid Found";
    }else{
      document.getElementById(dplabel).innerHTML = "";
    }
    
    //let str2 = "MH 05 S 9954";
    //console.log(IsUpidValid(str2));
}

</script>


</html>