.container-shops-location-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}
:root{
  scroll-behavior: smooth;
}
.locations {
    width: 80%;
    padding: 0.8rem 1rem;
    background-color: #fff;
    appearance: none;
    outline: none;
    border: 2px solid #3ddc8d;
    border-radius: 1rem;
    width: 100%;
}
.locations:hover ,.shop-card:hover{
    transition: .2s;
    box-shadow: 0 3px 10px rgba(33, 228, 75, 0.995);
}
.location-info{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
}

.shops-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    gap: 20px;
  }
  .shop-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    border: 1px solid #3ddc8d;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .shop-image {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 10px auto 0;
  }
  
  .shop-details {
    padding: 10px;
  }
  @media screen and (max-width: 550px) {
    .shops-cards{
      display: none;
    }
    .container-shops-location-details{
      margin-top: 0;
    }
   .shop-cards-mobile{
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 410px;
    background-image: linear-gradient(to right, #43e97a9c 0%, #38f9d685 100%);
    overflow-y: scroll;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
   }

   .shop-card {
    margin-top: 10px;
    background-color: #ebe8e8;
    width: 80%;
   }
  }
  .shops-cards{
    max-height: 1200px;
    overflow: auto;
  }
  .show-btn-container{
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .show-btn-container .show-btn{
    padding: 12px 1rem;
    background-color: #43e97a;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
