<!DOCTYPE html>
<html lang="en">
<%- include('../partials/theader'); %>
<head>
  <meta name="description" content="Sale and Purchase Inventory For All Kind of Trade, Develop Utility Software "/>
  <meta name="keywords" content="RMS, RMS SOFT, RMS Billing Software, Sunil Gupta,  ERP, Pharmaceutical WholeSale Inventory">
  <meta name="Author" content="Sunil Gupta, ssunilgupta22@gmail.com">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <script  type="text/javascript" src="public/assets/js/minajax.js"></script>
  <script  type="text/javascript" src="public/assets/js/typeahead.min.js"></script>
  <script  type="text/javascript" src="public/assets/js/itemappend.js"></script>
  <script  type="text/javascript" src="public/assets/js/saveprint.js"></script>
  <script  type="text/javascript" src="public/assets/js/jsPDF.js"></script>
  <link rel="stylesheet" href="public/assets/css/mystyles.css"> 

  <!-- <link rel="stylesheet" type="text/css" href="../../static/css/rmsmaster.css"/>
  <script  type="text/javascript" src="../../static/js/rmsmaster.js"></script> -->
  
  
</head>

<body>
<title><%= spinfo.title  %></title>
<label hidden="hidden" id='cs'><%= spinfo.cs %> </label>  
<div class="container">
<div class="addpanel">

<table id="cis" class="addtable" width="400">
    <tr><td><h4>
		    <button class="btm"  id="c" value="customer" >Customer</button>
		  
		    <button class="btm"  id="i" value="items" >Items</button>
		  
		    <button class="btm"  id="s" value="supplier" >Supplier</button>
        </h4></td></tr>
</table>
<br>

</div>
</div>
  <div>
     <footer class="mydocfooter">&copy;RMSSOFT 
      ssunilgupta22@rmssoft.co.in</footer> 
  </div>

</body>

</html>

<script type="text/javascript">

var cshost = document.URL.substring(0, document.URL.lastIndexOf("/")+1)+'addtodb' ;

var kyi = 0;
var scrollpos = 0;
var scrollval = 30;
var cs = '';
var gax = {'action':"search",'type':'partysearch','cs':'customer','n':'CUSTOMER'};
var gaxdic = {'c':{'action':"search",'type':'partysearch','cs':'customer','n':'CUSTOMER'},
              's':{'action':"search",'type':'partysearch','cs':'supplier','n':'SUPPLIERS'},
              'i':{'action':"itemsonly",'type':'itemsearch','cs':'supplier','n':'ITEM'},};

var csdic = {'s':'supplier','c':'customer','i':'items'};
var geturl = '';
var datarows = {};
var datalimit = 10; 
var selecteddatarows = {};
var recdic = {'dbmess':'save','addcomp':false,'data':{}};
var rowlen = 0;
//var ctax = {'0':'0','0.0':'0.0','2.5':'2.5','6':'6','9':'9','14':'14','1':'1','2':'2','2.':'2.','':'' }
var ctax = {'0':'0','0.0':'0.0','2.5':'2.5','6':'6','9':'9','14':'14','1':'1','2':'2','2.':'2.','':'' }
var ctoitax = {'0':'0','0.0':'0.0','2.5':'5','6':'12','9':'18','14':'28', }
var itax = {'0':'0','0.0':'0.0','5':'5','12':'12','18':'18','28':'28','1':'1','2':'2','2.':'2.','':''} 
var itoctax = {'0':'0','0.0':'0.0','5':'2.5','12':'6','18':'9','28':'14', }
var mode = {'1':'Bill By Bill','2':'On Account',}
var modervr = {'Bill By Bill':'1','On Account':'2',}
var dunit = {'PACK':'PACK','PAIR':'PAIR','TAB':'TAB','CAP':'CAP','BOTT':'BOTT','PCS':'PCS','BOX':'BOX','VIAL':'VIAL','UNIT':'UNIT'}
var editrec = false;
var area = ['Local'];
var dvid = 1   // device identifier [dvid = 1 = LAPTOP/DESKTOP] [dvid = 2 = MOBILE DEVICE] 
var posdict = POSDICT();
var cs = '<%= spinfo.cs %>';
var rscr =  {};

function dpS(gax){
  $("#cis").find("tr:gt(0)").remove();
	$('#cis').append('<br><tr><td><div id="statusinfo" class="blink_me info" ></div></td></tr>'+

		'<tr><td>'+
		   '<label id="1info" class="instructions" ></label>'+
           '<input type="text" class="addinput" id=1 name="name" list="list-name" placeholder="'+gax['n']+' Name"  autocomplete="off">'+
           '<div list="list-name"></div>'+
        '</td></tr>'+
        '<tr><td>'+
		   '<label id="2info" class="instructions" ></label>'+
     '<input readonly type="text" class="addinput" id=2 name="mode" list="list-mode" placeholder="Transaction Type"  autocomplete="off" onfocus="ontrFocus(event,'+"'mode'"+') ">'+
           '<div list="list-mode"></div>'+
        '</td></tr>'+
        '<tr><td>'+
		   '<label id="3info" class="instructions" ></label>'+
           '<input type="text" class="addinput" id=3 name="add1"  placeholder="Address 1"  autocomplete="off" onkeyup="crelayFocus(event,'+"'add1'"+')" >'+
        '</td></tr>'+
        '<tr><td>'+
		   '<label id="4info" class="instructions" ></label>'+
           '<input type="text" class="addinput" id=4 name="add2" placeholder="Address 2"  autocomplete="off" onkeyup="crelayFocus(event,'+"'add2'"+')" >'+
        '</td></tr>'+
    	'<tr><td>'+
            '<label id="5info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=5 name="stcode" list="list-stcode" placeholder="State Code" autocomplete="off" maxlength="2">'+
            '<div list="list-stcode"></div>'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="6info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=6 name="pincode" placeholder="Pin Code" autocomplete="off" maxlength="8" onkeyup="crelayFocus(event,'+"'pincode'"+')" >'+
           
        '</td></tr>'+
        '<tr><td>'+
            '<label id="7info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=7 name="area" list="list-area" placeholder="Area" autocomplete="off" maxlength="18" onfocus="onareaFocus(event, '+"'area'"+')" >'+
            '<div list="list-area"></div>'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="8info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=8 name="phone" placeholder="Phone" autocomplete="off" maxlength="12" onkeyup="crelayFocus(event,'+"'phone'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="9info" class="instructions" ></label>'+
            '<input type="email" class="addinput email" id=9 name="email" placeholder="email" autocomplete="off" onkeyup="crelayFocus(event,'+"'email'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="10info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=10 name="offphone" placeholder="Office-Phone" autocomplete="off" maxlength="12" onkeyup="crelayFocus(event,'+"'offphone'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="11info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=11 name="pan" placeholder="PAN" autocomplete="off" maxlength="10" onkeyup="crelayFocus(event,'+"'pan'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="12info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=12 name="obal" placeholder="Opening-Balance" autocomplete="off" maxlength="10" onkeyup="crelayFocus(event,'+"'obal'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="13info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=13 name="regn" placeholder="Registraction.No/D.L.No" autocomplete="off"  onkeyup="crelayFocus(event,'+"'regn'"+')" maxlength="40" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="14info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=14 name="gstn" placeholder="GST-Number" autocomplete="off" maxlength="15" onkeyup="crelayFocus(event,'+"'gstn'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="15info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=15 name="cmnt" placeholder="Composition-Tax-Payer [Y=YES; N=NO]" autocomplete="off" maxlength="1" onkeyup="crelayFocus(event,'+"'cmnt'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
        
        '<label id="16info" class="instructions" ></label>'+
        '<div id="divbtmbt" style="display:inline-flex; padding-bottom:15px;padding-top:15px;">'+
        '<button id="save" class="btmbt" >SAVE</button>&nbsp; '+
        '<button id="delete" class="btmbt">DELETE</button>&nbsp;'+
        '<button id="confirm" class="btmbt" style="display:none;">CONFIRM</button>&nbsp;'+
        '<button id="cancel" class="btmbt" style="display:none;">CANCEL</button>'+
        '<tr><td>'+
        '<button id="reset" class="btmbt">RESET</button>&nbsp;'+
        '<button id="close" class="btmbt">BACK</button>'+
        
        '</div>'+
        '</td></tr>'+
        
        '</td></tr>'
        );
  
  setInputFilter(document.getElementById('1'), function(value) {return /^[A-Z a-z0-9 - .]*$/.test(value); });
	setInputFilter(document.getElementById('5'), function(value) {return /^-?\d*$/.test(value); }); 
  setInputFilter(document.getElementById('6'), function(value) {return /^-?\d*$/.test(value); }); 

  setInputFilter(document.getElementById('7'), function(value) {return /^[A-Z a-z]*$/i.test(value); }); 

  setInputFilter(document.getElementById('8'), function(value) {return /^-?\d*$/.test(value); }); 
  setInputFilter(document.getElementById('10'), function(value) {return /^-?\d*$/.test(value); }); 
  setInputFilter(document.getElementById('12'), function(value) {return /^-?\d*$/.test(value); }); 
  
  setInputFilter(document.getElementById('13'), function(value) {return /^[A-Z a-z0-9, / -]*$/i.test(value); });

  setInputFilter(document.getElementById('14'), function(value) {return /^[A-Z a-z0-9]*$/i.test(value); });
  
  setInputFilter(document.getElementById('15'), function(value) {return /^[y,n Y,N]*$/i.test(value); });

  datarows = {};
  selecteddatarows = {};
  recdic = {'dbmess':'save','addcomp':false,'data':{}};
  rowlen = 0;
  
	}    		

function dpSitem(gax){
  $("#cis").find("tr:gt(0)").remove();
  $('#cis').append('<br><tr><td><div id="statusinfo" class="blink_me info" ></div></td></tr>'+

    '<tr><td>'+
       '<label id="1info" class="instructions" ></label>'+
           '<input type="text" class="addinput" id=1 name="name" list="list-name" placeholder="'+gax['n']+' Name"  autocomplete="off">'+
           '<div list="list-name"></div>'+
        '</td></tr>'+
        '<tr><td>'+
       '<label id="2info" class="instructions" ></label>'+
     '<input type="text" class="addinput" id=2 name="unit" list="list-unit" placeholder="ITEM UNIT"  autocomplete="off" maxlength="4" onfocus="ontrFocus(event,'+"'unit'"+') ">'+
           '<div list="list-unit"></div>'+
        '</td></tr>'+
        '<tr><td>'+
       '<label id="3info" class="instructions" ></label>'+
           '<input type="text" class="addinput" id=3 name="pack"  placeholder="ITEM PACKING"  autocomplete="off" maxlength="7" onkeyup="crelayFocus(event,'+"'pack'"+')" >'+
        '</td></tr>'+
        '<tr><td>'+
       '<label id="4info" class="instructions" ></label>'+
           '<input type="text" class="addinput" id=4 name="igroup" list="list-igroup" placeholder="ITEM DESCRIPTION"  autocomplete="off" onkeyup="crelayFocus(event,'+"'igroup'"+')" >'+
           '<div list="list-igroup"></div>'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="5info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=5 name="irack" list="list-irack" placeholder="ITEM RACK" autocomplete="off" maxlength="12">'+
            '<div list="list-irack"></div>'+
        '</td></tr>'+

        '<tr><td>'+
            '<label id="6info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=6 name="comp" list="list-comp" placeholder="ITEM COMPANY" autocomplete="off" maxlength="40">'+
            '<div list="list-comp"></div>'+
        '</td></tr>'+

        '<tr><td>'+
            '<label id="7info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=7 name="prate" placeholder="Pur. RATE" autocomplete="off" maxlength="8" onkeyup="crelayFocus(event,'+"'prate'"+')" >'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="8info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=8 name="srate" placeholder="Sale RATE" autocomplete="off" maxlength="8" onkeyup="crelayFocus(event, '+"'srate'"+')" >'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="9info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=9 name="mrp" placeholder="M.R.P" autocomplete="off" maxlength="8" onkeyup="crelayFocus(event,'+"'mrp'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="10info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=10 name="igst" placeholder="IGST" autocomplete="off" maxlength="4" onkeyup="crelayFocus(event,'+"'igst'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="11info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=11 name="sgst" placeholder="SGST" autocomplete="off" maxlength="4" onkeyup="crelayFocus(event,'+"'sgst'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="12info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=12 name="cgst" placeholder="CGST" autocomplete="off" maxlength="4" onkeyup="crelayFocus(event,'+"'cgst'"+')" >'+ 
        '</td></tr>'+
        '<tr><td>'+
            '<label id="13info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=13 name="hsn" list="list-hsn" placeholder="HSN CODE" autocomplete="off" maxlength="8" onkeyup="crelayFocus(event,'+"'hsn'"+')" >'+ 
            '<div list="list-hsn"></div>'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="14info" class="instructions" ></label>'+
            '<input type="text" class="addinput" id=14 name="sup" list="list-sup" placeholder="ITEM SUPPLIER" autocomplete="off" maxlength="40">'+
            '<div list="list-sup"></div>'+
        '</td></tr>'+
        '<tr><td>'+
            '<label id="15info" class="instructions" ></label>'+
            '<label id=15></label>'+ 
        '</td></tr>'+
        
        '<tr><td>'+
        
        '<label id="16info" class="instructions" ></label>'+
        '<div id="divbtmbt" style="display:inline-flex; padding-bottom:15px;padding-top:15px;">'+
        '<button id="save" class="btmbt" >SAVE</button>&nbsp; '+
        '<button id="delete" class="btmbt">DELETE</button>&nbsp;'+
        '<button id="confirm" class="btmbt" style="display:none;">CONFIRM</button>&nbsp;'+
        '<button id="cancel" class="btmbt" style="display:none;">CANCEL</button>'+
        '<tr><td>'+
        '<button id="reset" class="btmbt">RESET</button>&nbsp;'+
        '<button id="close" class="btmbt">BACK</button>'+
        '</div>'+
        '</td></tr>'+
        
        '</td></tr>'
        );
  setInputFilter(document.getElementById('1'), function(value) {return /^[A-z a-z0-9 - .]*$/.test(value); });
  setInputFilter(document.getElementById('2'), function(value) {return /^[A-Z a-z]*$/i.test(value); }); 
  setInputFilter(document.getElementById('3'), function(value) {return /^[abcdhijkglmnrstv ABCHIJKGLMNPRSTV0123456789*]*$/i.test(value); }); 
  setInputFilter(document.getElementById('4'), function(value) {return /^[A-Z a-z0-9 - .]*$/.test(value); });
  setInputFilter(document.getElementById('5'), function(value) {return  /^[A-Z a-z0-9 - .]*$/.test(value); });
  setInputFilter(document.getElementById('6'), function(value) {return /^[A-Z a-z0-9 - .]*$/.test(value); });

  setInputFilter(document.getElementById('7'), function(value) {return /^-?\d*[.,]?\d*$/.test(value);}); 
  setInputFilter(document.getElementById('8'), function(value) {return /^-?\d*[.,]?\d*$/.test(value);});
  setInputFilter(document.getElementById('9'), function(value) {return /^-?\d*[.,]?\d*$/.test(value);});
  setInputFilter(document.getElementById('10'), function(value) {return /^-?\d*[.,]?\d*$/.test(value);});
  setInputFilter(document.getElementById('11'), function(value) {return /^-?\d*[.,]?\d*$/.test(value);});
  setInputFilter(document.getElementById('12'), function(value) {return /^-?\d*[.,]?\d*$/.test(value);});
  setInputFilter(document.getElementById('13'), function(value) {return /^[0-9]*$/i.test(value); });
  setInputFilter(document.getElementById('14'), function(value) {return /^[A-Z a-z0-9 - .]*$/.test(value); });

  datarows = {};
  selecteddatarows = {};
  recdic = {'dbmess':'save','addcomp':false,'data':{}};
  rowlen = 0;
  
  }       

$(document).ready(function(){
    kyi = 0;

    geturl = window.location.href;
    
    document.getElementById('cs').innerHTML = cs;
    document.title = 'Add '+cs;
    dvid = findDevice(dvid)
    var selectradio = document.getElementById('i');
    
    if (cs==='supplier'){
      
      gax = gaxdic['s'];
      cisseletorActive('#s', 'blue', 'yellow')
      dpS(gax)
      clearFields(r=16,infoclear=true);
        }
    else if (cs==='customer'){
      
      gax = gaxdic['c'];
      cisseletorActive('#c', 'blue', 'yellow');
      dpS(gax)
      clearFields(r=16,infoclear=true);
        }
    else {
      
      gax = gaxdic['i'];
      cisseletorActive('#i', 'blue', 'yellow')
      dpSitem(gax)
      clearFields(r=16,infoclear=true);
        }
    //$(selectradio).prop("checked", true);

    
    editrec = false;

    });

function cisRClear(){
	$(document.getElementById('c')).prop("checked", false);
	$(document.getElementById('i')).prop("checked", false);
	$(document.getElementById('s')).prop("checked", false);
	}

function cisseletorActive(getid, fg, bg){
    $('#c').css('color', 'black');
    $('#i').css('color', 'black');
    $('#s').css('color', 'black');
    $('#c').css('background-color', 'gray');
    $('#i').css('background-color', 'gray');
    $('#s').css('background-color', 'gray');
    $(getid).css('background-color', bg);
    $(getid).css('color', fg);
  }

function cisseletor(wdg, getid, keyc,labelid){
  //var $box = $(this);
  
  gax = gaxdic[getid];
  var getname = gax['n'].toLowerCase();
  
  document.getElementById('cs').innerHTML=getname;
  if (getid=='i'){
    cs = "items";
    document.getElementById("cs").innerHTML=cs;
    cisseletorActive('#'+getid, 'blue', 'yellow')
    dpSitem(gax)
    clearFields(r=16,infoclear=true);
    }
  if (confirm('EXIT FROM '+cs.toUpperCase()+' ?')){
    cs = "customer";  
      if (getid=='c'){
        cs = "customer";
        gax['cs']=cs;
        cisseletorActive('#'+getid, 'blue', 'yellow')
        dpS(gax)
        clearFields(r=16,infoclear=true);
        }
      if (getid=='s'){
        cs = "supplier";
        gax['cs']=cs;
        cisseletorActive('#'+getid, 'blue', 'yellow')
        dpS(gax)
        clearFields(r=16,infoclear=true);
        }
      if (getid=='i'){
        cs = "items";
        gax['cs']=cs;
        cisseletorActive('#'+getid, 'blue', 'yellow')
        dpSitem(gax)
        clearFields(r=16,infoclear=true);
        }
    }
  document.title=" Add "+cs;
  document.getElementById("cs").innerHTML=cs;
 }

$(document).on('click ', 'button', function(event){
  var wdg = $(this);
  var getid = this.id;
  var keyc = event.keyCode || event.which;
  var eventtype = event.type;
  var labelid = '#16info'
  try{
   var actdict = {'save':onSave,'delete':onDelete,'reset':onReset,'close':onClose, 
     'confirm':onConfirm,'cancel':onCancel,'c':cisseletor,'i':cisseletor,'s':cisseletor};
   actdict[getid](wdg,getid,keyc,labelid)
    }catch(err){};
});

function showConfirm(){
  $('#16info').html("");
  $('#confirm').css('display', 'inline-flex');
  $('#cancel').css('display', 'inline-flex');
  $('#save').css('display', 'none');
  $('#delete').css('display', 'none');
  $('#reset').css('display', 'none');
  $('#close').css('display', 'none');
  $('#confirm').focus();
  }

function hideConfirm(){
  $('#save').css('display', 'inline-flex');
  $('#delete').css('display', 'inline-flex');
  $('#reset').css('display', 'inline-flex');
  $('#close').css('display', 'inline-flex');
  $('#confirm').css('display', 'none');
  $('#cancel').css('display', 'none');
  $('#reset').focus();
  }

function dbSave(recdic){
   
  if (gax['type'] != 'itemsearch'){
      var cmnt = document.getElementById(15).value.toUpperCase() ; // filling at last **** must required in database entry
      recdic['data']['cmnt']=cmnt ;
    }
  else{
    var igroup = document.getElementById(4).value.toUpperCase() ;
    var irack = document.getElementById(5).value.toUpperCase() ;
    recdic['data']['igroup']=igroup ;
    recdic['data']['irack']=irack ;
    if(typeof(recdic['data']['hsn']) == "undefined"){
        recdic['data']['hsn']=document.getElementById(13).value.toUpperCase() ;
    }
    
  }
  $.ajax({ type:"POST",url:cshost,
         data: {action:gax['action'],type:gax['type'],
         text:recdic['data'], cs:cs, getcolumn:"all", mode:"save", limit:'1'},  
         success:function(data) { 
            var getdata = JSON.parse(data);
            $('#16info').html('SAVED [ '+getdata[0]+' ] <br>');
            }
      });
  }

function dbUpdate(recdic){
  if (gax['type'] != 'itemsearch'){
      var cmnt = document.getElementById(15).value.toUpperCase() ; // filling at last **** must required in database entry
      recdic['data']['cmnt']=cmnt ;
    }
  else{
    var igroup = document.getElementById(4).value.toUpperCase() ;
    var irack = document.getElementById(5).value.toUpperCase() ;
    recdic['data']['igroup']=igroup ;
    recdic['data']['irack']=irack ;
  }  
  $.ajax({ type:"POST",url:cshost,
         data: {action:gax['action'],type:gax['type'],
         text:recdic['data'], cs:cs, getcolumn:"all", mode:"update", limit:'1'},    
         success:function(data) { 
            var getdata = JSON.parse(data);
            $('#16info').html('DELETED [ '+getdata['name']+' ] <br>');
            }
      });
  }

function dbDelete(recdic){
  $.ajax({ type:"POST",url:cshost,
         data: {action:gax['action'],type:gax['type'],
         text:recdic['data'],cs:cs, getcolumn:"all", mode:"delete", limit:'1'}, 
         success:function(data) { 
            var getdata = JSON.parse(data);
            $('#16info').html('DELETED [ '+getdata['name']+' ] <br>');
            }
      });
  }

function onDelete(wdg, getid, keyc, labelid){
  recdic['dbmess']='delete';
  showConfirm();
  recdic['dbmess']='delete';
  }

function onConfirm(wdg, getid, keyc, labelid){
  if (recdic['dbmess']==='delete'){
    dbDelete(recdic);
    hideConfirm()
    clearFields(r=16,infoclear=false);
    //$(labelid).html('action for DELETE function is yet to prepare.. wait.. !<br>');
    return true;
    }

  if (recdic['dbmess']==='save'){
    dbSave(recdic);
    hideConfirm()
    clearFields(r=16,infoclear=false);
    return true;
    }
  if (recdic['dbmess']==='update'){
    dbUpdate(recdic);
    hideConfirm()
    clearFields(r=16,infoclear=false);
    return true;
    }
    
  }

function onCancel(wdg, getid, keyc, labelid){
  hideConfirm()
  $(labelid).html('');
}

function rNF(labelid, labeltext, wdg){
  //$('input[name="stcode"]').focus()
 // return true;
  var getval = $(wdg).val().trim(); 
  var stop = false;
  if (getval===''){
    $(labelid).html(labeltext);
    $(wdg).focus();
    var stop = true;
    }
  return stop;
  }

function onSave(wdg, getid, keyc, labelid){
  
  if (rNF(labelid, "NAME NOT GIVEN<br>", 'input[name="name"]')){return true;}
 
  if (gax['n']==='ITEM'){
      
      if (rNF(labelid, "UNIT NOT GIVEN<br>", 'input[name="unit"]')){return true;}
      if (rNF(labelid, "PACK NOT GIVEN<br>", 'input[name="pack"]')){return true;}
      if (rNF(labelid, "COMPANY NAME NOT GIVEN<br>", 'input[name="comp"]')){return true;}
      if (rNF(labelid, "PURCHASE RATE NOT GIVEN<br>", 'input[name="prate"]')){return true;}
      if (rNF(labelid, "SALE RATE NOT GIVEN<br>", 'input[name="srate"]')){return true;}
      if (rNF(labelid, "MRP NOT GIVEN<br>", 'input[name="mrp"]')){return true;}
      if (rNF(labelid, "WRONG TAX RATE<br>", 'input[name="igst"]')){return true;}
      if (rNF(labelid, "SUPPLIER NAME NOT GIVEN<br>", 'input[name="sup"]')){return true;}
      
      if (recdic['data']['sup']===undefined){
        $(labelid).html("NOT FOUND ! SELECT VALID SUPPLIER FIRST !<br>"); return true;}
      if (rNF(labelid, "HSN NOT GIVEN<br>", 'input[name="hsn"]')){return true;}
      if (recdic['data']['igroup']===undefined){recdic['data']['igroup']='';}
      if (recdic['data']['irack']===undefined){recdic['data']['irack']='';}
      
      showConfirm()
    }
  else {

      if (rNF(labelid, "NAME NOT GIVEN<br>", 'input[name="mode"]')){return true;}
      if (recdic['data']['add1']===undefined){recdic['data']['add1']='';}
      if (recdic['data']['add2']===undefined){recdic['data']['add2']='';}
      //if (keyc===13){if (rNF(labelid, "STATE CODE NOT GIVEN<br>", 'input[name="add2"]')){ 
      //   return true;}}
      if (rNF(labelid, "STATE CODE NOT GIVEN<br>", 'input[name="stcode"]')){
        return true;}
      
      if (recdic['data']['pincode']===undefined){recdic['data']['pincode']='';}
      if (recdic['data']['phone']===undefined){recdic['data']['phone']='';}
      if (recdic['data']['offphone']===undefined){recdic['data']['offphone']='';}
      if (recdic['data']['email']===undefined){recdic['data']['email']='';}
      if (recdic['data']['obal']===undefined){recdic['data']['obal']='';}
      if (recdic['data']['pan']===undefined){recdic['data']['pan']='';}
      if (recdic['data']['regn']===undefined){recdic['data']['regn']='';}
      if (recdic['data']['gstn']===undefined){recdic['data']['gstn']='';}
      if (rNF(labelid, "NAME NOT GIVEN<br>", 'input[name="area"]')){return true;}
      showConfirm()
    }
  
  }

function onReset(wdg, getid, keyc, labelid){
  if (confirm('WANT TO RESET '+cs.toUpperCase()+' ?')) {
      clearFields(r=16,infoclear=true);

      } 
  }

function onClose(wdg, getid, keyc, labelid){
  var urlsplit = geturl.split('/');
  var ulen = urlsplit.length ;
  var getpath = geturl.split(urlsplit.slice(ulen-2,ulen-1));
  var redirectpath = getpath[0]+'home.php'
  clearFields(r=16,infoclear=true);
  window.location = redirectpath ;
  
  }

function clearFields(r=16,infoclear=false){
  $('#statusinfo').html('')
 
  editrec = false;
  for (i = 1; i < r; i++){
      document.getElementById(i).value = '';
      document.getElementById(i+'info').innerHTML = '';
      }
  if (infoclear){$('#16info').html('')}
  }

$(document).on('dblclick', 'input[list]', function(event){
    event.preventDefault();
        var str = $(this).val();
    $('div[list='+$(this).attr('list')+'] span').each(function(k, obj){
            if($(this).html().toLowerCase().indexOf(str.toLowerCase()) < 0){
                $(this).hide();
            }
        })
    $('div[list='+$(this).attr('list')+']').toggle(100);
    $(this).focus();
})

$(document).on('blur', 'input[list]', function(event){
        event.preventDefault();
        var list = $(this).attr('list');
        setTimeout(function(){
            $('div[list='+list+']').hide(100);
        }, 100);
    })

function fillEntry(fillwdg, tag, fillval, recdicval, hidewdg){
  recdic['data'][tag]=recdicval;
  $(fillwdg).val(fillval);
  $(hidewdg).hide(100);

  kyi = 0;
  if (recdic['data']['nameid']==null){
    var text = document.getElementById(1).value.toUpperCase(); 
    recdic['data']['name']=text; // Force filling name to recdic; if user just click after writing name via mobile browser entry 
  } 
  $('#16info').html('');
  }


$(document).on('click', 'div[list] span', function(event){
      
      event.preventDefault();   
      var listattr = $(this).parent().attr('list');
      var getid = $(this).parent().parent().children()[1].id ;
      if(getid==""){getid=1}; 
      var text = $(this).html();
      var divList =  $('div[list='+listattr+']');
      var tag = listattr.split('-')[1]
      kyi = $(this).attr("data-id"); // this.getAttribute("data-id")  // event.target.getAttribute("data-id")
      var arr = ['mode','unit','igroup','irack','area','hsn'];
      var arrwithids = ['comp','sup'];

      selecteddatarows = datarows[kyi];
      
      for (i = 0; i < arr.length; i++){

        if (tag===arr[i]){
          if (tag === 'mode'){fillEntry('input[list='+listattr+']', tag, text, modervr[text], 'div[list='+listattr+']')}
          else{fillEntry('input[list='+listattr+']', tag, text, text, 'div[list='+listattr+']');}
          return true;
          }
        }
      
      for (i = 0; i < arrwithids.length; i++){
        if (tag===arrwithids[i]){

          compFill(tag, getid, false, selecteddatarows, '');
         
          fillEntry('input[list='+listattr+']', tag, text, text, 'div[list='+listattr+']')
          return true;
          }
        }
      
      searchDisplay(gax, selecteddatarows, tag, divList, listattr, getid, text)
      
    })

function searchDisplay(gax, getrecdic, tag, divList, listattr, getid, text){
  keyMove('select', tag, divList, listattr, getrecdic.name);
  recdic['data']=getrecdic;
  recdic['dbmess']='update';

  getNamedp(gax, getrecdic);

  statusInfo('EDIT - '+getrecdic.name, 'red','normal')
  editrec = true;
  kyi = 0;

  fillEntry('input[list='+listattr+']', tag, text, text, 'div[list='+listattr+']')

  nextFocus(parseInt(getid)+1);
  }

function getNamedp(gax, getrecdic){
  var supid = '1' // default 1 given if no supid found
  var compid = '1' // default 1 given if no compid found
  recdic['data']=getrecdic;
  

  if (gax['n']==='ITEM'){
    
    if (getrecdic.supid===""){supid = '1'}
    else {supid = getrecdic.supid;}
    if (getrecdic.compid===""){compid = '1'}
    else {compid = getrecdic.compid}
    var getids = [compid, supid]
    
 

    
    recdic['data']['supid']=getrecdic.supid;
    recdic['data']['igst']=getrecdic.tax;
    $('input[name="hsn"]').val(getrecdic.hsn);
    $('input[name="mrp"]').val(getrecdic.mrp);
    $('input[name="igroup"]').val(getrecdic.igroup);
    $('input[name="irack"]').val(getrecdic.irack);
    $('input[name="prate"]').val(getrecdic.prate);
    $('input[name="srate"]').val(getrecdic.srate);
    $('input[name="sgst"]').val(getrecdic.cgst);
    $('input[name="cgst"]').val(getrecdic.sgst);
    $('input[name="igst"]').val(getrecdic.gst);
    $('input[name="unit"]').val(getrecdic.unit);
    $('input[name="pack"]').val(getrecdic.pack);
    
    $.ajax({ type:"GET",url:cshost,
         data: {action:gax['action'],type:gax['type'],text:getids, 
         cs:'compsupsearch',getcolumn:"all", mode:"search", limit:datalimit},    
         success:function(data) { 
          
            var getrows = JSON.parse(data); // zero index supplier_name for supplier; first Index for supplier_name for Company;
            // console.log(getrows[0]);
            // console.log(getrows[1]);
            if (getrows[1].name.length==0){ 
              recdic['data']['comp']=null;
              $('input[name="comp"]').val('N.A');
                }
            else{ 
              recdic['data']['comp']=getrows[1].name ;
              $('input[name="comp"]').val(getrows[1].name);
                }
            
            if (getrows[0].name.length==0){
              recdic['data']['sup']=null;
              $('input[name="sup"]').val('N.A');
              }
            else{
              recdic['data']['sup']=getrows[0].name;
              $('input[name="sup"]').val(getrows[0].name);
              }
             
            }
            
      });

    }
  else {
    recdic['data']['stcode']=getrecdic.add3;
    $('input[name="add1"]').val(getrecdic.add1);
    $('input[name="add2"]').val(getrecdic.add2);
    $('input[name="stcode"]').val(getrecdic.add3);
    $('input[name="pincode"]').val(getrecdic.pincode);
    $('input[name="area"]').val(getrecdic.area);
    $('input[name="email"]').val(getrecdic.email);
    $('input[name="obal"]').val(getrecdic.bal);
    $('input[name="mode"]').val(mode[getrecdic.mode]);
    $('input[name="regn"]').val(getrecdic.regn);
    $('input[name="gstn"]').val(getrecdic.gstn);
    $('input[name="phone"]').val(getrecdic.mobile);
    $('input[name="offphone"]').val(getrecdic.ophone);
    $('input[name="cmnt"]').val(getrecdic.cmnt);
    
    }
  }

function keyMove(km, tag, divList, listattr, text, select=false){
    var visibleelements = [] ;
    var listelements = divList[0]['children'];
    var wdglen = listelements.length;

    for (i = 0; i < listelements.length; i++) {
          if (listelements[i].style.display==''){
            listelements[i].style.backgroundColor = 'white';
            visibleelements.push(listelements[i])
              }
            }
    
    if (km==='down'){
       
        if (Object.entries(visibleelements).length > 0) {
          scrollpos += scrollval;  
          kyi += 1;    
          if (visibleelements[kyi] === undefined ){
            visibleelements[kyi-1].style.backgroundColor = 'white';
            visibleelements[0].style.backgroundColor = '#f5f3ba';
            kyi=0;
            scrollpos = 0;
            }
          else {
               if (visibleelements[kyi-1] != undefined ){
                visibleelements[kyi-1].style.backgroundColor = 'white';
                visibleelements[kyi].style.backgroundColor = '#f5f3ba';
            		}
               else {
               	visibleelements[kyi].style.backgroundColor = '#f5f3ba';
                		}
               }
            $(divList[0]).animate({scrollTop: scrollpos});
            } 
        } 
    else if (km==='text'){
       kyi = 0;
       scrollpos = 0;
       $(divList[0]).animate({scrollTop: scrollpos});
       for (i = 0; i < visibleelements.length; i++) {
        visibleelements[i].style.backgroundColor = 'white';
        visibleelements[0].style.backgroundColor = '#f5f3ba';
            }
       
        }  
    else if (km==='up'){
     
      for (i = 0; i < visibleelements.length; i++) {
        visibleelements[i].style.backgroundColor = 'white';
            }
      if (Object.entries(visibleelements).length > 0){ 
        if (kyi < 0){kyi=0;}
        else if (visibleelements.length===0){kyi=0; return true;}
        else if (visibleelements[kyi] === undefined ){kyi=0; return true;} 
	         else { 
               scrollpos -= scrollval;
	             kyi-- ; 

               $(divList[0]).animate({scrollTop: scrollpos});
	             if (wdglen < 0){
                    kyi = 0;
                    scrollpos = 0;
                    }
	             else{
	                  try{
                        visibleelements[kyi].style.backgroundColor = '#f5f3ba';
                        visibleelements[kyi+1].style.backgroundColor = 'white';
                        }
                    catch(err){
                        visibleelements[0].style.backgroundColor = '#f5f3ba';
                        visibleelements[1].style.backgroundColor = 'white';
                        }
	                  }        
	               }
	      	    }
              $(divList[0]).animate({scrollTop: 0});

	          }

    else if (km==='select'){
      
      var text = text; 	
      if (select){
          if (visibleelements[kyi] === undefined ){
            if(recdic['dbmess']==='update'){return true;} 
            if (text===undefined){text=$('input[name='+tag+']').val();}
            else {text='';}
            }
          else {text = visibleelements[kyi].innerHTML;}
        }
      // default selection of ZERO index element value when data available and key not moved up down
      if (kyi < 1){if(listelements.length > 0){text=listelements[0].innerHTML}}
         
      if (tag === 'mode'){
        text = mode[kyi+1]
        fillEntry('input[list='+listattr+']', tag, text, modervr[text], 'div[list='+listattr+']')
        }
      else{fillEntry('input[list='+listattr+']', tag, text, text, 'div[list='+listattr+']')}
      divlistHide()
      kyi = 0;
      scrollpos = 0;
      }
    }

$(document).on('keyup input', 'input[list]', function(event){
    event.preventDefault();
    var text = $(this).val().toUpperCase();
    var listattr = $(this).attr('list');
    var keyc = event.keyCode || event.which;
    var eventtype = event.type;
    var visibleelements = [] ;
    var divList =  $('div[list='+$(this).attr('list')+']');
    var rowlen = 0;
    var splitattr = listattr.split('-')
    var getid = this.id ;
    var tag = splitattr[1];
    
    if (splitattr[1]==='stcode'){
    	onStcode(text, getid, keyc, listattr, divList);
    	return true;
    	}
    if (splitattr[1]==='mode'){
    	ontrmode(text, getid, 'mode', keyc, listattr, divList);
    	return true;
    	}

    if (splitattr[1]==='unit'){
      ontrmode(text, getid, 'unit', keyc, listattr, divList);
      return true;
      }

    if (splitattr[1]==='area'){

      ongetdbdata(text, getid, 'area', cs+'_area', eventtype, keyc, listattr, divList, false);
      return true;
      }

    if (splitattr[1]==='igroup'){
      ongetdbdata(text, getid, 'igroup', cs+'_igroup', eventtype, keyc, listattr, divList, true);
      return true;
      }

    if (splitattr[1]==='irack'){
      ongetdbdata(text, getid, 'irack', cs+'_irack', eventtype, keyc, listattr, divList, true);
      return true;
      }
    
    if (splitattr[1]==='hsn'){
      ongetdbdata(text, getid, 'hsn', 'hsn', eventtype, keyc, listattr, divList, false);
      return true;
      }  

    if (splitattr[1]==='comp'){
      ongetdbdata(text, getid, 'comp', 'comp', eventtype, keyc, listattr, divList, true);
      return false;
      }  

    if (splitattr[1]==='sup'){
      ongetdbdata(text, getid, 'sup', 'sup', eventtype, keyc, listattr, divList, true);
      return true;
      }  

    if (eventtype==='keyup'){if (keyc === 8 || keyc === 46){divlistHide(); return true;}}  

      
    if(event.which == 27){ // esc
        $(divList).hide(200);
        $(this).focus();
    }
    
    else if(event.which == 9){divlistHide();} // tab
        
    else if(event.which == 40){ // keydown
        keyMove('down', tag, divList, listattr, text)
        }

    else if(event.which == 38){ // keyup
        keyMove('up', tag, divList, listattr, text)
        }

    else {
    	  if(eventtype==='input'){

            if (text.trim()==''){editrec=false; statusInfo('', 'blue','normal')}
            
            if (!editrec){
              $.ajax({ type:"GET",url: cshost,
                 data: {action:gax['action'],type:gax['type'],text:text,
                  cs:cs,limit:datalimit, getcolumn:"all", mode:"search"},    
                 success:function(data) { 
                    datarows = JSON.parse(data);

                    $(divList[0]).empty();
    		       
    		            var spannode = divList[0] ;
                    
                    rowlen = datarows.length ; //getting size of dict data from server
                    
                    recdic['data'][tag]=datarows[kyi];
                    for (var k in datarows){
                        var r = datarows[k];
    	            	$(spannode).append("<span data-id='"+k+"' >"+r.name+"</span");
    	            	//$('#list-name').append('<span>'+i.toString()+'</span>');
    	        			  }
      	        	  //$(this).show(200);
      	        	  $('div[list='+listattr+']').show(100);
              	  
                	  if (rowlen > 0){
                        
                        selecteddatarows = datarows[kyi];
                        
                        keyMove('text', tag, divList, listattr, text)
                      
                        kyi = 0;
                        statusInfo('', 'red','normal')
                        return true;
                        }	
                    else{
                      recdic['data']['nameid']=null;
                      statusInfo('.NEW ENTRY ! ADD RECORD !', 'blue','bold')
                      
                        }
                    }
              });
           
            }

          }
        
      }

      
    if(event.which == 13){returnKeyonName(datarows, tag, divList, listattr, getid, text);}

    })

function returnKeyonName(datarows, tag, divList, listattr, getid, text){
  if (Object.entries(datarows).length > 0){
    if (!editrec){
      selecteddatarows = datarows[kyi] ;
      searchDisplay(gax, selecteddatarows, tag, divList, listattr, getid, selecteddatarows.name)
    }
    else{
      recdic['data']['name']=text;
      nextFocus(parseInt(getid)+1);
    }
    return true;
   }
  else {
    // for accepting NEW Entries 
    keyMove('select', tag, divList, listattr, text);
    if (editrec){recdic['dbmess']='update';}
    else {recdic['dbmess']='save';}
    
    nextFocus(parseInt(getid));
    } 
  }

function divlistHide(kc=0){
  kyi = kc;
  $('div[list]').hide();
  }

/*
function statusInfo (info, clr, weight){
  $('#statusinfo').html(info)
  $('#statusinfo').css('color', clr);
  //$('#statusinfo').css('font-weight', weight);
  //$('#statusinfo').css('margin-left', '-100px');
  }
 */
 
function recdicTaxFill(cgst,sgst,igst){
  recdic['data']['cgst']=cgst;
  recdic['data']['sgst']=sgst;
  recdic['data']['igst']=igst;
  }

function taxValidate(keyc, getid, text, wdgi, wdgs){
  var tax = '0';
  var igsttax = '0';

  if (wdgi){
    if (itax[text] === undefined){
      tax='0';igsttax = '0';
      $('#'+getid+'info').html('NOT VALID TAX RATE');
      recdicTaxFill('0','0','0')
      return true;
      }
    else {
        igsttax=itax[text]; tax=itoctax[text];
        $('#'+getid+'info').html('');
        }
      $('input[name="sgst"]').val(tax);
      $('input[name="cgst"]').val(tax);
      $('input[name="igst"]').val(igsttax);
      recdicTaxFill(tax,tax,igsttax)
    }
  else{
    if (ctax[text] === undefined){
      $('#'+getid+'info').html('NOT VALID TAX RATE');
      tax='0';igsttax = '0';
      recdicTaxFill('0','0','0')
      return true;
      }
    else {
        $('#'+getid+'info').html('');
        igsttax=ctoitax[text]; tax=ctax[text];
        }
    $('input[name="sgst"]').val(tax);
    $('input[name="cgst"]').val(tax);
    $('input[name="igst"]').val(igsttax);
    recdicTaxFill(tax,tax,igsttax)
  }
  if (keyc===13){nextFocus(getid);}
}

function crelayFocus(evt, tag){
  var keyc = evt.keyCode || evt.which;
  var getid = evt.target.id;
  var text = evt.target.value.toUpperCase();
  
  if (tag==='igst'){
    taxValidate(keyc, getid, text, true, false)
    return true;
      }

  if (tag==='cgst'){
    taxValidate(keyc, getid, text, false, true)
    return true;
      }

  if (tag==='sgst'){
    taxValidate(keyc, getid, text, false, true)
    return true;
      }
  
  if (tag=='gstn'){
      var rtext = GstinChker(evt.target.value);
      document.getElementById(getid+'info').innerHTML = rtext;
      document.getElementById(getid+'info').style.color='red';
      }; 

  if (keyc === 13){
    if (tag=='gstn'){
          rtext = checkgstn(evt.target.value.toUpperCase());
          if (!rtext){
            document.getElementById(getid+'info').innerHTML ='WRONG GST Number';
            document.getElementById(getid).value ='0'
            }
          else{document.getElementById(getid+'info').style.color='blue'} 
          }
      try{nextFocus(getid);} catch(err){document.getElementById('save').focus()}
 
      }

  var arro = ['prate','srate','mrp','cgst','sgst','igst','hsn','sup'];
  var xvalid = false ; 
  var idfl = '#'+getid+'info' ;
  var idfv = '#'+getid ;
  for (i = 0; i < arro.length; i++){
    if (tag===arro[i]){
      
      if (text.trim()===''){
        xvalid = true;
        text = 0;
        $(idfl).html(tag+' - WRONG VALUE !');
        }
      else{$(idfl).html('');}
      }
    }
  
  if (xvalid){nextFocus(parseInt(getid)-1)}
  fillEntry(idfv, tag, text, text, 'div[list=name]')

  }


function nextFocus(getid){
  var igetid = parseInt(getid)
  var nextid = igetid+1;
  document.getElementById(nextid.toString()).focus();
  }

function onStcode(text, getid, keyc, listattr, divList){
	var stcode = posdict[text];
  var rtext = '09'; //default given uttar pradesh ;
	if (stcode===undefined){
      document.getElementById(getid+'info').style.color = 'red';
      document.getElementById(getid+'info').innerHTML = 'Wrong Code';}
    else{document.getElementById(getid+'info').style.color = 'blue';
      rtext = text;
      document.getElementById(getid+'info').innerHTML = stcode; }
    if (text == ''){ document.getElementById(getid+'info').innerHTML = '';}
  if (keyc === 13){nextFocus(getid)}
  recdic['data']['stcode']=rtext;
	}

function ontrFocus(evt, getid){
  var ddata = mode;
  if (getid==='mode'){ddata=mode}
  if (getid==='unit'){ddata=dunit}

	var divList =  $('div[list=list-'+getid+']');
    $(divList[0]).empty();
    	var spannode = divList[0] ;
    	for (var k in ddata){
    		$(spannode).append("<span data-id='"+k+"' >"+ddata[k]+"</span");
    	}
	$(divList).show(100);
	}


function ontrmode(text, getid, tag, keyc, listattr, divList){
    var ddata = mode;
    if (tag==='mode'){ddata=mode}
    if (tag==='unit'){ddata=dunit}

		$(divList[0]).empty();
    	var spannode = divList[0] ;
    	for (var k in ddata){
    		$(spannode).append("<span data-id='"+k+"' >"+ddata[k]+"</span");
    	}
    	$(this).show(200);
	    $('div[list='+listattr+']').show(100);
	    if(keyc == 40){keyMove('down', tag, divList, listattr, text)}
	    if(keyc == 38){keyMove('up', tag, divList, listattr)}
        if(keyc == 13){
        	keyMove('select', tag, divList, listattr, text, select=true)
        	nextFocus(getid);
        	}

    //recdic['data'][tag]=text;
	}

function onareaFocus(evt, getid){
  kyi = 0;
  
  if (recdic['dbmess']==='update'){return true;}
  var divList =  $('div[list=list-'+getid+']');
    $(divList[0]).empty();
      var spannode = divList[0] ;
      for (i = 0; i < area.length; i++){
        $(spannode).append("<span data-id='"+i+"' >"+area[i]+"</span");
      }
  $(divList).show(100);
  }

function compFill(tag, getid, bv, v, labeldp){
  if (v === undefined){return true;}
  
  $('#'+getid+'info').html(labeldp);

  if (tag==='area'){
    // if bv === true // means area not exists in database

    if (bv){
      recdic['data'][tag]=v; // force entry of area when area not in database
      //$('#'+getid+'info').html('Press to ADD => ['+v+']');
      //var element = document.getElementById(getid+'info');
      //element.addEventListener('click', onAddArea, false);
      //element.getidinfo = getid+'info';
      return true;
      }
    }

  

  if (tag==='comp'){
    if (bv){recdic['addcomp']=bv;recdic['data']['compid']=null; return true;}
    else {recdic['addcomp']=bv;recdic['data']['compid']=v.nameid; return true;}
    }
  if (tag==='sup'){

    if (v.nameid===undefined){recdic['data']['supid']=null; return true;}
    else{recdic['data']['supid']=v.nameid; return true;}
    }
  
  else {
    if (v === undefined){return true;}
    else{recdic['data'][tag]=v.name;}
    }
  }

function ongetdbdata(text, getid, tag, stype, eventtype, keyc, listattr, divList, select){ 
    
    if(keyc == 40){keyMove('down', tag, divList, listattr, text)}
    if(keyc == 38){keyMove('up', tag, divList, listattr, text)}
    
    
    if (eventtype === 'input'){
        
        $.ajax({ type:"GET",url:cshost,
             data: {action:tag,type:stype,text:text, cs:stype,
             getcolumn:"all",limit:datalimit,mode:"search"},    
             success:function(data) { 
                
                $(divList[0]).empty();

                var spannode = divList[0] ;
                datarows = JSON.parse(data);
                selecteddatarows = datarows[kyi];
              
                recdic['data'][tag]=selecteddatarows;
                rowlen = datarows.length ; //getting size of dict data from server
                
                for (var k in datarows){
                  var r = datarows[k];
                  $(spannode).append("<span data-id='"+k+"' >"+r.name+"</span");
                //$('#list-name').append('<span>'+i.toString()+'</span>');
                }
            $(this).show(200);
            $('div[list='+listattr+']').show(100);
            
         
            if (rowlen === 0){     
                  $(divList[0]).empty(); 
                  compFill(tag, getid, true, text, tag.toUpperCase()+' NOT FOUND');return true;
                }
                 
            else{compFill(tag, getid, false, selecteddatarows, '');return true;}
                  
            if (rowlen > 0){keyMove('text', tag, divList, listattr, text)} 
           
              }
          });
      }

    if(keyc == 13){

        
        if (recdic['addcomp']){

          var compname = text.trim().toUpperCase();
          if (compname != ''){
            $('#'+getid+'info').html('ADD ['+compname+'] AS NEW COMPANY');
            $('#'+getid+'info').css('color', 'blue');
            recdic['addcomp']=true;
            }
          else {$('#'+getid+'info').html('');recdic['addcomp']=false;}
          nextFocus(getid);
         
          return;
          }

        selecteddatarows = datarows[kyi]; 
        compFill(tag, getid, false, selecteddatarows, '');

        var igetid = parseInt(getid)
        var chktext = document.getElementById(igetid).value;
        // overriding keyMove 'select' function here ; if user want new text entry;

        if (tag==='area'){
            if (recdic['dbmess']==='update'){nextFocus(igetid); return true;}
            keyMove('select', tag, divList, listattr, text, select)
            
            if (rowlen === 0){if(text.trim()===''){$('#'+igetid).val('LOCAL');};}
            else{$('input[list='+listattr+']').val(selecteddatarows.name);}
            
            $('#'+getid+'info').html('');
            }

        else{
            
            if (select){
              keyMove('select', tag, divList, listattr, selecteddatarows, select)
                  }
            else{keyMove('select', tag, divList, listattr, text, select)}
            
            }
          
        //if (recdic['dbmess']==="update"){}
          
        var nextid = igetid+1;
        document.getElementById(nextid.toString()).focus();
        return ;
        
        }
  }

</script>
</html>