    <!DOCTYPE html>
    
    <html lang="en">
    	<head>
    		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    		<!-- Bootstrap -->
            <link rel="stylesheet" type="text/css" href="/public/assets/css/mystyles.css"/>
            <link rel="stylesheet" type="text/css" href="/public/assets/css/bootstrap.css"/>
            <script type = "text/javascript"  src="/public/assets/js/minajax.js"></script>
    		<title>RMS-Registration</title>
    	</head>
    <body>
    	<div  class="osmcontainer1">
    	  <div class="login-form">
    		
    		<hr style="border-top:1px dotted #ccc;"/>
    		<!-- Link for redirecting to Login Page -->
    		<a class="myanchor" href="/rmslogin" >Go To Login Page</a>

            <div class="info"><br><label class="alertlabel" style="color: white;" 
                id="info"><%= spinfo.rmsregister %></label></div>
                   
            <form action="/save_member" method = "post" id = "regform" enctype= "application/x-www-form-urlencoded">

      
            <!--<span><button class = "wbut" type = "submit"   onclick="mysubmit(event)"> SAVE </button></span>-->
            <input type="text" name="username" id="username" class="rmsinput" 
                maxlength="8" placeholder="Username" autocomplete="off" required="required" 
                style="text-transform:lowercase;" 
                onkeydown="if(['Space'].includes(arguments[0].code)){return false;}" 
                onkeypress="return /[0-9a-zA-Z]/i.test(event.key)" 
                onkeyup="userValidation(event)" />
            

            <input type="text" name="firstname" class="rmsinput" maxlength="20"
                autocomplete="off" placeholder="First name" required="required"/> 
            <input type="text" name="lastname" class="rmsinput" maxlength="20"
                autocomplete="off" placeholder="Last name" required="required"/>  

            <input type="text" name="phone" id="phone" class="rmsinput"
                maxlength="10" autocomplete="off" placeholder="Phone Number" required="required" 
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" onkeyup="phoneValidation(event)" />
            
            <input type="password" id="pswd1" name="password" placeholder="Password" class="rmsinput"
             required="required"/>
            <input type="password" id="pswd2" name="password" placeholder="Confirm Password" onkeyup="matchPassword()"
             class="rmsinput" required="required"/>
          
            <input type="submit"  id="register" class="btn btn-primary btn-block" 
            style="background-color: blue;" name="register"  value="Register" />

         </form>
    	</div>
      </div>

    </body>
    <script type="text/javascript">
        function matchPassword() {  
          
          var pw1 = document.getElementById("pswd1").value;  
          var pw2 = document.getElementById("pswd2").value;  
         
          if(pw1 != pw2)  
          {   
            document.getElementById("info").innerHTML = "Passwords did not match";  
            document.getElementById('register').disabled=true;
          } else {  
            document.getElementById("info").innerHTML ="Password matched";  
            document.getElementById('register').disabled=false;
          }  
        }  

    function changeInfo(labelid, btntid, msg, clr, disabl){
        // enable and disable register/submit button to prevent wrong entries
        document.getElementById(labelid).innerHTML = msg;
        document.getElementById(labelid).style.color=clr;
        document.getElementById(btntid).disabled=disabl;
     }

    function userValidation(evt){
        var uname= document.getElementById("username");
        var text = uname.value.toLowerCase();
       
        if (text.length>2){
            $.ajax({
                url:"/onuserValidation", type : "GET", 
                data : {'username' : text},
                dataType: 'json',
                success : function(result){
                  var getresult = result['success'];
                  if (getresult.username){
                    changeInfo("info", "register", text+" Already Exists ! ", 'red', true)}// disabled=true
                  else{changeInfo("info", "register", text+" is Available !",'blue',false)}//disabled=false 
                    }

            });
        }
        else{changeInfo("info", "register", "Minimum 3 Charectors !", 'red', true)}
        evt.preventDefault(); // <==stop page refresh==>
    }

    function phoneValidation(evt){
        var uname= document.getElementById("phone");
        var text = uname.value;
        
        if (text.length>9){
           
            $.ajax({
                url:"/onphoneValidation", type : "GET", 
                data : {'phone' : text},
                dataType: 'json',
                success : function(result){
                    var getresult = result['success'];
                  if (getresult.phone){
                    changeInfo("info", "register", text+" Already Exists ! ", 'red', true)}// disabled=true
                  else{changeInfo("info", "register", text+" is Available !",'blue',false)}//disabled=false 
                    
                    }

                });
            }
        else {changeInfo("info", "register", "Wrong Phone Number !", 'red', true)}
        evt.preventDefault(); // <==stop page refresh==>
        }
       

    </script>
    </html>