.search-section {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    box-shadow: 0 5px 20px rgb(0 0 0 /10%);
  }
  .search-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    column-gap: 2rem;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .search-header .search-input {
    position: relative;
    outline: 2px solid #d2d5d3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    font-weight: 500;
    color: #68706b;
  }
  .search-input input:focus {
    outline: none;
  }
  .search-input label {
    padding: 0 3px;
    position: absolute;
    top: 50%;
    font-size: 0.85rem;
    left: 10px;
    transform: translateY(-50%);
    justify-self: end;
    margin-right: 8px;
    transition: 0.2s;
    pointer-events: none;
  }
  
  .search-input input::placeholder {
    color: transparent;
  }
  
  .search-input input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 0.7rem;
    transform: translateY(-57%);
    background-color: #fff;
  }
  
  .search-input input,
  select {
    border: none;
    outline: none;
    font-weight: 500;
    text-transform: uppercase;
  }
  .search-input select + label {
    top: 0;
    transform: translateY(-57%);
    background-color: #fff;
    font-size: 0.7rem;
  }
  .search-input input::-webkit-calendar-picker-indicator {
    color: #d2d5d3;
  }
  .search-input select {
    background-color: #fff;
    appearance: none;
  }
  
  .search-table {
    padding: 1rem 0;
    background-color: #f1f5f4;
    border-radius: 1rem;
    overflow: scroll;
    border-collapse: collapse;
    width: 100%;
    color: #6a6d6b;
  }
  
  .search-table::-webkit-scrollbar,
  .search-table::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  .search-table-header {
    padding: 1rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    gap: 20px;
    column-width: 100%;
    text-align: center;
  }
  
  .search-table-header th {
    
    font-size: 1rem;
    font-weight: 500;
    color: #2f2e2ef5;
  }
  .search-table tr td {
    text-align: center;
    padding: 10px 1rem ;
    
  }
  
  .search-table-header span:nth-child(4) {
    flex: 0.5;
    text-align: center;
  }

  .table-container::-webkit-scrollbar{
    display: none;
  }
  
  .table-container {
    height: 16rem;
    background-color: #f1f5f4;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(0 0 0 /22%);
    overflow: scroll;

  }


  .search-table tr:not(:first-child):hover{
    background-color: #3ddc8d;
    color: #fff;

  }
  .search-table th{
    padding: 15px 0px;
    padding-bottom: 15px;
  }

  .btns button:nth-child(1) {
    background-color: #3ddc8d;
    color: #fff;
  }
  
  .btns button:nth-child(2) {
    background-color: #f1f5f1;
    color: #000;
  }
  
  .btns button:nth-child(3) {
    background-color: #ff4d4d;
    color: #fff;
    
  }

  .cismain{
    width:calc(50% - 65px);;
  }

  @media only screen and (max-width: 550px) {
    .payrcpt-mobile{
      display: flex;
      flex-direction: column;
      width: 96%;
      margin-left: 7px;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 5px 20px #00000088;
    }
    .payrcpt-header-mobile{
      display: flex;
      flex-direction: column;
    }
    .payrcpt-header-mobile div {
      width: 100%;
    }
    .payrcpt-mobile .payrcpt-row{
      max-width: 100%;
      
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .payrcpt-mobile .payrcpt-row div{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .payrcpt-mobile .payrcpt-row .search-input{

      height: 50px;
    }
    .payrcpt-mobile .payrcpt-row .search-input input{
      text-align: center;
      height: 100%;
    }

  }