/* Search container styles */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .search-results{
    position: absolute;
    background-color: #f6f7f2;
    height: 600px;
    width: 420px;
    left: 0;
    top: 70px;
    border-radius: 10px;
    border: 2px solid #31e78c;
    box-shadow: 0 10px 20px rgb(0 0 0/20%);
  }
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin-right: 10px;
}

.search-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}
  
.search-icon .fa-search{
    position: relative;
    margin-right: 5px;
}

.search-input-container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    >input{
        width:420px
    }
    >img{
        position: relative;
        left: -40px;
        top: -4px;
    }
}
.shopOwner-search-results-fragments{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    height: 35px;
    align-items: center;

}
.shopOwner-search-results-fragments h4{
    font-weight: 500;
    color: #333;
}
.active-search-type {
    color: #31e78c !important;
}

  .inactive-search-type { 
    cursor: pointer; 
  }
  .by-name-active {
    border-bottom: 2px solid #31e78c;
  }
  
  .by-salt-active {
    border-bottom: 2px solid #31e78c;
  }
  
.medicinal-searchOwner-data{
    margin-top: 10px;
    height: 565px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.medicinal-searchOwner-data-values{
    width: 95%;
    height: 145px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0 30px;
}
.medicinal-searchOwner-data-values img{
    margin-top: 0;
}
.medicinal-searchOwner-data-values-name{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.medicinal-searchOwner-data-values-name p:first-of-type{
    flex: 1;
    padding-left: 20px;
}

.medicinal-searchOwner-data-values-prices p:first-of-type{
    flex: 1;
    padding-left: 20px;
}

.medicinal-searchOwner-data-values-name p {
    gap: 10px;
    display: flex;
    align-items: center;
}
.medicinal-searchOwner-data-values-name p img{
    width: 10px;
    margin-bottom: 8px;
}
.medicinal-searchOwner-data-values-name-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.medicinal-searchOwner-data-values-prices{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #cac7c790;
    /* margin-right: 20px;
    margin-left: 20px; */
}
.medicinal-searchOwner-data-values-prices img{
}
/* Add styling for the "+" and "-" buttons */
.medicinalplusminusaddbutton {
    color: #31e78c;
    border: none;
    font-weight: 400; 
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid #31e78c;
    cursor: pointer;
    margin: 0 5px;
    background-color: #fff;
}
.medicinalplusminusaddbutton:hover{
    transition: .3s;
    background-color: #31e78c;
    color: #fff;
}

.medicinal-searchOwner-data-values-name-button span {
font-weight: bold;
margin: 0 5px;
}
.medicinal-searchOwner-data-values-name-button span:hover{
    font-weight: 500;
}
.medicinalplusminusbutton{
    background-color: #31e78c;
    color: white;
    border: none;
    padding: 0px 4px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.medicine-price {
color: #31e78c;
font-weight: bold;
margin-right: 10px;
}

.medicine-salt {
color: #333;
font-style: italic;
}
.medicine-price-shopOwnerPage{
    font-weight: 600;
}

.by-salt-btn{
    height: 100%;
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.Sorry-Medicine-Not-Found{
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    align-items: center;
}

.Sorry-Medicine-Not-Found img{
    width: 50%;
    height: 45%;
    border-radius: 50%;
}
.Sorry-Medicine-Not-Found p {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}