.adminmain {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }
  
  .form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-container .credinfo h3{
    text-align: center;
  }