*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog-info{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(162, 162, 162);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    color: #fff;
    font-size: 1.7rem;

}
.blog-info img {
    width: 20%;
}
.blog-info img:last-child {
    width: 14%;
}
/* CSS for scroll icon */
.scroll-icon {
    position: fixed;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%);
    display: none; 
    cursor: pointer;
    z-index: 1000; 
  }
  .scroll-icon a img {
    color: #43e97b;
  }

  
.blog-info-nearest {
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    color: #fff;
    font-size: 1.7rem;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.blog-info-nearest img {
    width: 15%;
}
.blog-info-nearest img:last-child {
    width: 14%;
}
@media screen and (max-width: 550px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden; 
    }
    :root {
        margin: 0;
        padding: 0;
        right: 0;
        overflow-x: hidden;
    }
    .blog-info-nearest{
        height: 200px;
    }
    .blog-info-nearest img {
        width: 130px;
    }
    .blog-info-nearest img:last-child{
        width: 130px;
    }
    
    .blog-info-nearest h1{
        text-align: center;
        font-size: 1.5rem;
    }
    .blog-info {
        height: 200px;
    }
    .blog-info h1 {
        font-size: 1.5rem;
    }
    .blog-info img {
        width: 130px;
    }
    .blog-info img:last-child{
        width: 100px;
    }
    .contact-info img{
        width: 45%      
    }
    .contact-info-second-img{
        display: none;
    }
    .contact-info{
        display: flex;
        justify-content: space-evenly;
    }
}
