<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script  type="text/javascript" src="public/assets/js/rmsheader.js"></script>
    <script  type="text/javascript" src="public/assets/js/minajax.js"></script>
    <link rel="stylesheet" href="public/assets/css/bootstrap.css">
    
</head>
<style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .buttonhv {
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }
    .buttonhv:hover {
      background-color: #555555;
      color: white;
    }
    
</style>
<body>
<div class="page-wrapper">
        <form method="POST" action="/rmsnav">
          <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" >
            <button type="submit" id="rmshomenav" class="button buttonhv" name="name" value="rmshome">RMS-Home-Main</button> 
            </span>

            <span class="navbar-brand mb-0 h1" >
            <button type="submit" id="usersettings" class="button buttonhv" name="name" value="usersettings">User-Settings</button> 
            </span>

            <span class="navbar-brand mb-0 h1" >
            <button type="submit" id="rmslogout" class="button buttonhv" name="name" value="rmslogout">Log-Out</button> 
            </span>
          </nav>
        </form>
    <!-- <nav class="navbar navbar-light bg-light">

        <span class="navbar-brand mb-0 h1" ><a href="rmspages/rmshome">RMS-Home</a></span>
        <a class="float-right" href="<%= spinfo.gblink  %>" title="Back To ">Back To <%= spinfo.linktitle  %></a>
        
    </nav> -->