<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
--> 
    <script  type="text/javascript" src="public/assets/js/rmsheader.js"></script>
    <script  type="text/javascript" src="public/assets/js/minajax.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="public/assets/css/bootstrap.css">
    
<style>
    #iconlogout{
        font-size:18px;
        color:rgb(215, 6, 6);
    }
    #rmslogout:hover #iconlogout {
     color: white;
    }
</style>

</head>


<body>
<div class="page-wrapper">
        
  
        <form method="POST" action="/rmsnav">

            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">
                        <button type="submit" id="rmshomenav" name="name" value="rmshome" class="btn btn-info" >RMS-Home-Main</button> 
                </span>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="/rmsnav?id=userinfo" id="rmshomenav" class="nav-link">User-Info</a>
                        </li>
                        <li class="nav-item">
                            <a href="/rmsnav?id=bankinfo" id="rmshomenav" class="nav-link">Bank-Info</a> 
                        </li>
                        <li class="nav-item">
                            <a href="/rmsnav?id=seriesinfo" id="rmshomenav" class="nav-link">Bill-Series-Info</a>
                        </li>
                        <li class="nav-item">
                            <a href="/rmsnav?id=deleteallcoll" id="rmshomenav" class="nav-link">Delete</a>
                        </li>
                    </ul>
                    <span class="navbar-brand mb-0 h1">
                        <button type="submit" id="rmslogout" class="btn btn-outline-danger" name="name" value="logout">
                            <i class='fas fa-power-off' id="iconlogout" ></i>
                        </button>
                </span>
                </div>
            </nav>
    
        </form>
</div>
</body>
</html>